#counter-container{
    display:flex;
    flex-direction: column;
    text-align: center;
    border: 5px solid rgb(238, 210, 70);
    border-radius: 5px;
    max-width:300px;
    margin: 0 auto;
    justify-content: center;
    background-color: rgb(4, 4, 36);

}

#count-El, h2,p{
    font-size: 2rem;
    color: aliceblue;
}
#increment-btn, #save-btn {
   margin: 0.2rem auto;
   background-color:rgb(238, 210, 70);
   color:black;
   width:200px;
   padding: 0.5rem;
   border-radius: 50px;
   font-weight:bold;
}


label{
    color:aliceblue;
    font-weight: 1rem;
}